// ========= Basic ========= //
h1, h2, h3, h4, h5, h6,
p {
    text-rendering: auto;
}

section {
    padding: 60px 0 30px;
}

select,
input {
    line-height: 45px;
    min-height: 45px;
    width: 100%;
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    color: #768588;
    padding: 0 15px;
    border-radius: 20px;
    font-weight: normal;
    border:0;
    margin-bottom: 10px;
    font-family: Verdana;

    &:focus {
        border:0;
        box-shadow: inset 0 1px 1px rgba(83, 167, 236, 0.075), 0 0 8px rgba(83, 167, 236, 0.8);
    }

    @media screen and (max-width: 1024px) {
        display: block;
        margin: 0 auto 15px;
    }
}

label {
    font-size: 20px;
}

#free-quote {
    padding: 30px 10px;
    background-color: #ffc600;
    max-height: none !important;

    @media screen and (max-width:768px) {
        top: 50px !important;

        label {
            font-size: 14px;
        }
        
        select,
        input {
            height: 35px;
        }
    }
}

.logo {
    display:inline-block;
}

body.is-reveal-open {
    overflow: auto;
}

.reveal-overlay {
    overflow-y: auto;
}

// Motion ui
%mui-defaults {
  transition-duration: map-get($motion-ui-speeds, fast);
  transition-timing-function: map-get($motion-ui-easings, ease-in);
}

// ========= Modifiers ========= //
.send-button {
    background-color: transparent;
    width: 100%;
    max-width: 349px;
    border: 2px solid #fff;
    color:#fff;
    border-radius: 22px;
    font-size: 28px;
    line-height:1.8;
    font-weight: bold;

    &:hover {
        background-color: transparent;
    }
}

.section-title {
    margin-bottom: 50px;
    text-align: center;
}

// ========= Options Section ========= //
.options {
    padding:0;

    &__text {
        background: url('../img/check.png') left center no-repeat;
        display: inline-block;
        padding: 25px 5.5% 25px 50px;
        font-size: 24px;

        @media screen and (max-width: 930px) {
            font-size: 18px;
        }

        @media screen and (max-width: 768px) {
            font-size: 16px;
            display:block;
            text-align: left;
            max-width: 320px;
            margin: auto;
        }
    }
    
    .is-last {
        padding-right: 0;
    }
}

// ========= Service Section ========= //
.service {
    text-align: center;
    background-color: #f7f5f3;

    p {
        color:#768588;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    &__separator {
        width: 25px;
        display: inline-block;
        margin: 30px 0 5px;
        border-top: 2px solid #768588;

        @media screen and (max-width: 768px) {
            margin: 30px auto 5px;
            display: block;
        }
    }
}

// ========= Profits Section ========= //
.profits {
    text-align: center;
    
    &__block {
        margin-bottom: 40px;

        &__image {
            border-radius: 100%;
            border:2px solid #ffc600;
            height: 111px;
            width: 111px;
            display: inline-block;
            vertical-align: middle;
            position: relative;

            @media screen and (max-width: 490px) {
                display: block;
                margin: 0 auto 20px;
            }

            img {
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                margin: auto;
            }
        }

        &__text {
            display:inline-block;
            vertical-align: middle;
            margin-left: 30px;
            max-width: 300px;
            text-align: left;

            p {
                color:#768588;
                font-size: 18px;
            }
        }
    }
}

// ========= Estimation Section ========= //
.estimation {
    background-color: #f4bb0f;
    color: #fff;
    text-align: center;

    p {
        font-size: 18px;
    }

    h1 {
        margin-bottom: 15px;
    }

    &__button {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        max-width: 300px;
        width: 100%;

        &__arrow {

                position: static;
                text-align: right;
                padding-bottom: 10px;
        }
    }

    @media screen and (max-width: 1024px) {
        text-align: center;
        
        &__button {
            display: block;
            margin: 0 auto 10px;
        }
    }
}

// ========= Years Section ========= //
.years {
    padding: 80px 0 10px;
    text-align: center;

    &__blocks {
        display: inline-block;
        border-radius: 12px;
        border:2px solid #f4bb0f;
        width: 100%;
        max-width: 209px;
        position: relative;
        margin-right: 10px;
        margin-bottom: 70px;
        padding: 30px 0;
        
        p {
            display: block;
            margin:0;
        }

        &__numbers {
            display: inline-block;
            line-height: 1;
            font-size: 48px;
            padding: 0;
            position: absolute;
            bottom: 75%;
            left: 0; right: 0;
            color: #f4bb0f;
            margin: auto;
            text-align: center;

            span {
                background-color: #fff;
                padding:0 5px;
            }
        }
    }
}

// ========= Client Section ========= //
.clients {
    padding: 30px 0 30px;
    background-color: #f4f2ee;
    line-height: 93px;
    font-size: 24px;
    vertical-align: middle;
    text-align: center;

    span {
        white-space: nowrap;
        @media screen and (max-width: 940px) {
            display: block;
        }
    }

    &__cloud {
        background-color: #fff;
        line-height: 1.3;
        color: #768588;
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;
        height: 93px;
        border-radius: 20px;
        text-align: left;
        position: relative;
    
        @media screen and (max-width: 940px) {
            margin: 0;
        }
        
        div {
            height: 93px;
            vertical-align: middle;
            display: table-cell;
            padding: 0 30px;
            width: 100%;
        }

        &.is-right {
            margin-left: 30px;

            @media screen and (max-width: 940px) {
                margin-left: 0;
            }

            &::before {
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid #fff;
                content: '';
                position: absolute;
                right: 100%;
                height: 20px;
                top:0;
                bottom: 0;
                margin: auto;

                @media screen and (max-width: 940px) {
                    border-bottom:0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #fff;
                    left:0;
                    right: 0;
                    top:auto;
                    margin: 0 auto;
                    bottom: 100%;
                    width: 20px;
                }
            }
        }

        &.is-left {
            margin-right: 30px;

            @media screen and (max-width: 940px) {
                margin-right: 0;
            }

            &::before {
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid #fff;
                content: '';
                position: absolute;
                left: 100%;
                height: 20px;
                top:0;
                bottom: 0;
                margin: auto;

                @media screen and (max-width: 940px) {
                    border-bottom:0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid #fff;
                    left:0;
                    right: 0;
                    margin: 0 auto;
                    top: 100%;
                    width: 20px;
                }
            }
        }
    }

    .columns {
        margin-bottom: 25px;
    }
}

// ========= Footer ========= //
.footer {
    padding: 15px 0 30px;
    background: url('../img/footer-bg.jpg') center center no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    
    p {
        color: #fff;
        margin-bottom: 0px;
        white-space: nowrap;
        font-weight: bold;
    }
    &__logo {
        float: left;

        .logo {
            margin-top: 18px;
        }

        @media screen and (max-width: 930px) {
            float: none;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &__contact {
        float: right;
        text-align: right;
        margin-top: 5px;

        &__phone {
            background: url('../img/marker.png') center center no-repeat;
            font-size: 24px;
        }

        @media screen and (max-width: 930px) {
            float: none;
            text-align: center;
            margin-top: 20px;

            &__phone {
                max-width: 208px;
                margin: auto;
                background-position: left center;
            }
        }
    }
  
    &__button {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 54px;
        margin: auto;
        max-width: 220px;
        
        @media screen and (max-width: 930px) {
            position: static;
            display: block;
        }

        &:hover {
            color: #fff;
        }
    }
}