<!-- Footer -->
<footer class="footer">
    <div class="row  large-collapse columns">
        <div class="footer__logo">
            <a href="/" class="logo">
                <img src="{{root}}assets/img/logo-1.png" alt="Main Banner">
            </a>
        </div>
        <a href="http://demenagementplus.ca/" class="footer__button send-button">
            Sur le site
        </a>
        <div class="footer__contact">
            <p class="footer__contact__phone"><span></span>514-549-4088</p>
            <p>E-mail: braileans@gmail.com</p>
            <p>116 du Croissant Parklane Greenfield Park, Québec</p>
        </div>
    </div>
</footer>
<!-- /Footer -->