<header class="header">
    <div class="row">
        <div class="medium-6 columns">
            <a href="/" class="header__logo">
                <img src="{{root}}assets/img/logo-1.png" alt="Main Banner">
            </a>
        </div>    
        <div class="medium-6 columns header__phone">
            <p>Estimation gratuite: <span>514-549-4088</span></p>
        </div>
    </div>

    <div class="row">
        <div class="header__montreal">
            <h1>Déménagement Montréal</h1>

            <h2>75$/heure</h2>

            <button class="send-button">DEVIS GRATUIT</button>
            <div class="header__arrow">
                <img src="{{root}}assets/img/arrow.png" alt="Arrow">
            </div>
        </div>
    </div> 
</header>